

button {
  padding: 5px 10px;
  background-color: white;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: black;
  margin-left: 10px;

}

button:hover {
  background-color:thistle;
  border: 1px solid  rgb(126, 72, 126);
}


@media screen and (max-width: 746px) {

  button{
    margin-top: 10px;
  }

}