
.table {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-top: 1%;

}

.table > div {
  flex: 1;
  margin: 0 10px;
  padding: 15px;
  border-radius: 5px;
}

.table h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-left:35%
  
}

@media screen and (max-width: 746px) {
  .table {
  display: flex;
  flex-direction: column;
  margin-left: 20%;


}

.table h1 {
  font-size: 1.5em;
  margin-left:35%;

}

.table > div {
  border-radius: 5px;
  margin-top: 0;
}



}